# ESTE ES UN ARCHIVO CON LAS VARIABLES DE ENTORNO A UTILIZAR EN EL PROYECTO.
# PARA USARLO, CREE UNA COPIA DE ESTE MISMO ARCHIVO SIN LA EXTENSIÓN ".template" y 
# ACTUALICE LOS VALORES DE LAS CONFIGURACIONES A SU ENTORNO.
# POR FAVOR, NO MODIFIQUE ESTA PLANTILLA CON DATOS SENSIBLES NI TAMPOCO
# SUBA EL ARCHIVO ".env.development".

# DIRECCIONES IP DEL BACKEND
AUTH_BASE_URL=http://localhost
API_BASE_URL=http://localhost

# Ruta de iconos en formato png
VITE_PNG_ROUTE=/images/png/

# Ruta de iconos en formato svg
VITE_SVG_ROUTE=/images/svg/
